*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


.header{

    min-height: 100vh;
    min-width: 100px;
    background-image: url(images/cover.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    filter: drop-shadow(5px);

} 

nav{
    display: flex;
    padding: 0% 7%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 100px;
}
.nav-menu{
    flex: 1;
    text-align: right;

}
.nav-menu ul li{
    list-style: none;
    display: inline-block;
    padding: 0px 10px;
    font-size: 20px;
    font-weight: 500;
    position: relative;
}

.nav-menu ul li a {
    color: black;
    text-decoration: none;
}


.nav-menu ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #228B22 ;
    display: block;
    margin: auto;
}
.nav-menu ul li:hover::after{

    width: 100%;
    transition: .5s;
    
}


.text{
    width: 90%;
    text-align: center;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.text h1{
    font-size: 40px;
}

.button{
    display: inline-block;
    text-decoration: none;
    color: #98FB98;
    border: 3px solid orange;
    border-radius: 15%;
    padding: 7px 20px;
    box-sizing: content-box;
    position: relative;
    cursor: pointer;
    font-size: 20px;
    font-weight: 400;
}

.button:hover{

    border: 1px orange;
    background:#C70039;
    transition: .1s;
}

nav .fa{
    display: none;
}

@media(max-width:700px){

    .text h1{
        font-size: 30px;
    }
    nav img{
        width: 70px;
    }    

    .nav-menu ul li{
        display: block;
    }
    .nav-menu{
        position: absolute;
        background: #98FB98;
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
        
    }

    nav .fa{
        display: block;
        color: white;
        margin: 10px;
        font-size: 22x;
        cursor: pointer;
    }
    .nav-menu ul{
        padding: 30px;
    }

}

.row{
    margin-top: 5%; 
    display: flex;
    justify-content: space-between;   

}



@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}

.footer{
    width: 80%;
    text-align: center;
    padding-top: 10px 0px;
    position: relative;    
    left: 50%;
    bottom: 50%;
    transform: translate(-50%);

}

.footer h3{
    margin-bottom: 10px;
    margin-top: 20px;
    font-weight: 600;
    
}



/*----------------Blog---------------*/
.blogpost{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 40px;
    
}

.blog-header h1{
    width: 90%;
    text-align: center;
    font-size: 40px;
    color: black;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
}


.blogpost-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;

}

.blogpost-col img{
    width: 100%;
    border-radius: 10px;
    backdrop-filter: overlay ;
}

h4{
    color: gray;
}

.h1:hover{

    font-size: large;

    color: mediumspringgreen;
    transition: 1s;

}



/*----------------Contact---------------*/

.contact-header h1{
    width: 90%;
    text-align: center;
    font-size: 40px;
    color: black;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
}


/*----------------About---------------*/


.about-header h1{
        width: 90%;
        text-align: center;
        font-size: 40px;
        color: black;
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%,-50%);
}


